# KNN

In [2]:
from sklearn.datasets import load_wine

wine = load_wine()

wine.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [8]:
wine["feature_names"]

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [4]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [7]:
with open("wine_metadata.txt", "w") as file:
    file.write(wine.DESCR)

In [15]:
import pandas as pd

df = pd.DataFrame(wine["data"], columns=wine["feature_names"])
df = pd.concat([df, pd.DataFrame(wine["target"], columns=["wine_class"])], axis=1)

df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  wine_class
0    14.23        1.71  2.43  ...                          3.92   1065.0           0
1    13.20        1.78  2.14  ...                          3.40   1050.0           0
2    13.16        2.36  2.67  ...                          3.17   1185.0           0
3    14.37        1.95  2.50  ...                          3.45   1480.0           0
4    13.24        2.59  2.87  ...                          2.93    735.0           0

[5 rows x 14 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  wine_class                    178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

... more EDAs -> check video

## Scikit learn steps

### 0. Divide into X and y

In [19]:
X, y = df.drop("wine_class", axis=1), df["wine_class"]

X.head(2)

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0

[2 rows x 13 columns]

In [20]:
y.head(2)

0    0
1    0
Name: wine_class, dtype: int64

### 1. train|test split

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.5, random_state=42
)

X_train.shape, X_test.shape

((89, 13), (89, 13))

### 2. scale dataset

- KNN very important to scale

In [33]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)

scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

scaled_X_train.min(), scaled_X_train.max(), scaled_X_test.min(),scaled_X_test.max(),

(np.float64(0.0),
 np.float64(1.0),
 np.float64(-0.05077262693156731),
 np.float64(1.3333333333333335))

### 3. KNN