# Linear regression

## Short EDA on ads data

In [2]:
# read in the data into pandas dataframe
import pandas as pd

df = pd.read_csv("Advertising.csv", index_col=0)

df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

- features/independent variable: TV, radio, newspaper

- label/target/dependent variable: sales

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [ ]:
# 200 rows 
# 4 columns: 3 features and 1 label
df.shape

(200, 4)